<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Policies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My Insurance Company</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Create Policy</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">View All Policies</a>
            </li>
        </ul>
    </div>
</nav>

<div class="m-4">
    <h1>All Policies</h1>
    <div style="overflow: auto">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Manager ID</th>
            <th>Manager Approval First Name</th>
            <th>Manager Approval Last Name</th>
            <th>Agent ID</th>
            <th>Name of Agent Signed First Name</th>
            <th>Name of Agent Signed Last Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Policy Price ID</th>
            <th>Base Price</th>
            <th>Deductible</th>
            <th>Policy Status ID</th>
            <th>Policy Status</th>
            <th>Policy Holder ID</th>
            <th>Policy Holder</th>
            <th>Policy Payment ID</th>
            <th>Policy Payment Amount</th>
            <th>Insurance Type ID</th>
            <th>Insurance Type</th>
            <th>Sub Type ID</th>
            <th>Insurance Subtype</th>
            <th>Policy Attributes ID</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <!-- Use Thymeleaf to dynamically render table rows -->
        <tr th:each="policy : ${viewData}">
            <td th:text="${policy['id']}"></td>
            <td th:text="${policy['manager_id']}"></td>
            <td th:text="${policy['managerapprovalfirstname']}"></td>
            <td th:text="${policy['managerapprovallastname']}"></td>
            <td th:text="${policy['agentid']}"></td>
            <td th:text="${policy['nameofagentsignedfirstname']}"></td>
            <td th:text="${policy['nameofagentsignedlastname']}"></td>
            <td th:text="${policy['start_date']}"></td>
            <td th:text="${policy['end_date']}"></td>
            <td th:text="${policy['policypriceid']}"></td>
            <td th:text="${policy['baseprice']}"></td>
            <td th:text="${policy['deductible']}"></td>
            <td th:text="${policy['statusid']}"></td>
            <td th:text="${policy['policystatus']}"></td>
            <td th:text="${policy['policyholderid']}"></td>
            <td th:text="${policy['policyholder']}"></td>
            <td th:text="${policy['policypaymentid']}"></td>
            <td th:text="${policy['policypaymentamount']}"></td>
            <td th:text="${policy['insurance_type_id']}"></td>
            <td th:text="${policy['insurancetype']}"></td>
            <td th:text="${policy['sub_type_id']}"></td>
            <td th:text="${policy['insurancesubtype']}"></td>
            <td th:text="${policy['policyattributesid']}"></td>
            <td th:text="${policy['description']}"></td>
        </tr>
        </tbody>
    </table>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" th:class="${currentPage == 0 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{policies(page=${currentPage - 1}, pageSize=${pageSize})}">Previous</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, (viewData.size() / pageSize) - 1)}" th:class="${pageNumber == currentPage ? 'active' : ''}">
                <a class="page-link" th:href="@{policies(page=${pageNumber}, pageSize=${pageSize})}">
                    <span th:text="${pageNumber + 1}"></span>
                </a>
            </li>
            <li class="page-item" th:class="${currentPage >= (viewData.size() / pageSize) - 1 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{policies(page=${currentPage + 1}, pageSize=${pageSize})}">Next</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
